{% extends "base.html" %} 
{% block title %}JN4D Interior Services{% endblock %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" 
    crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" 
    crossorigin="anonymous">
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

{% comment %} <link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
  rel="stylesheet"
/>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script> {% endcomment %}


<svg xmlns="http://www.w3.org/2000/svg" style="display: none;" >
  <symbol id="price" viewBox="0 0 16 16" fill="currentColor">
    <path d="M3 2v4.586l7 7L14.586 9l-7-7zM2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586z"/>
    <path d="M5.5 5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1m0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3M1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1z"/>    
  </symbol>
  <symbol id="cart" viewBox="0 0 16 16" fill="currentColor">
    <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l.5 2H5V5zM6 5v2h2V5zm3 0v2h2V5zm3 0v2h1.36l.5-2zm1.11 3H12v2h.61zM11 8H9v2h2zM8 8H6v2h2zM5 8H3.89l.5 2H5zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
  </symbol>
  <symbol id="favorite" viewBox="0 0 16 16" fill="currentColor">
    <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1"/>
  </symbol>
  <symbol id="sale" viewBox="0 0 16 16" fill="currentColor">
    <path d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5M11.5 4a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1z"/>
  <path d="M2.354.646a.5.5 0 0 0-.801.13l-.5 1A.5.5 0 0 0 1 2v13H.5a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1H15V2a.5.5 0 0 0-.053-.224l-.5-1a.5.5 0 0 0-.8-.13L13 1.293l-.646-.647a.5.5 0 0 0-.708 0L11 1.293l-.646-.647a.5.5 0 0 0-.708 0L9 1.293 8.354.646a.5.5 0 0 0-.708 0L7 1.293 6.354.646a.5.5 0 0 0-.708 0L5 1.293 4.354.646a.5.5 0 0 0-.708 0L3 1.293zm-.217 1.198.51.51a.5.5 0 0 0 .707 0L4 1.707l.646.647a.5.5 0 0 0 .708 0L6 1.707l.646.647a.5.5 0 0 0 .708 0L8 1.707l.646.647a.5.5 0 0 0 .708 0L10 1.707l.646.647a.5.5 0 0 0 .708 0L12 1.707l.646.647a.5.5 0 0 0 .708 0l.509-.51.137.274V15H2V2.118z"/>
  </symbol>
  <symbol id="edit" viewBox="0 0 16 16" fill="currentColor">
    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>    
  </symbol>
  <symbol id="view" viewBox="0 0 16 16" fill="currentColor">
    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
  </symbol>
  <symbol id="delete" viewBox="0 0 16 16" fill="currentColor">
    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
  </symbol>
  <symbol id="add" viewBox="0 0 16 16" fill="currentColor">
    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
  </symbol>
  <symbol id="minus" viewBox="0 0 16 16" fill="currentColor">
    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
  </symbol>
  <symbol id="plus" viewBox="0 0 16 16" fill="currentColor">
    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
  </symbol>
  <symbol id="lock" viewBox="0 0 16 16" fill="currentColor">
    <path fill-rule="evenodd" d="M8 0a4 4 0 0 1 4 4v2.05a2.5 2.5 0 0 1 2 2.45v5a2.5 2.5 0 0 1-2.5 2.5h-7A2.5 2.5 0 0 1 2 13.5v-5a2.5 2.5 0 0 1 2-2.45V4a4 4 0 0 1 4-4M4.5 7A1.5 1.5 0 0 0 3 8.5v5A1.5 1.5 0 0 0 4.5 15h7a1.5 1.5 0 0 0 1.5-1.5v-5A1.5 1.5 0 0 0 11.5 7zM8 1a3 3 0 0 0-3 3v2h6V4a3 3 0 0 0-3-3"/>
  </symbol>
  <symbol id="circle" viewBox="0 0 16 16" fill="currentColor">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
  </symbol>
  <symbol id="circle-fill" viewBox="0 0 16 16" fill="currentColor">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-8 3a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
  </symbol>
  <symbol id="message-warning" viewBox="0 0 16 16" fill="currentColor">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
  </symbol>
  <symbol id="message-success" viewBox="0 0 16 16" fill="currentColor">
    <path d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864z"/>
    <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1z"/>
  </symbol>
</svg>

<style>
table {
  border-collapse: collapse; /* Removes spacing between cell borders (cellspacing) */
  border-spacing: 0;         /* Backup for older browser behaviors */
}
th, td {
  border-bottom: none;
  padding: 0;                /* Removes spacing inside the cells (cellpadding) */
}
.qty-btn {
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

.qty-btn:focus {
    outline: none;
}
.lock-icon {
  position: absolute;
  top: 35%;
  right: 12px;
  transform: translateY(-50%);
  color: #6c757d; /* Muted gray for trust, not distraction */
  pointer-events: none; /* Allows clicks to pass through to the input */
}
</style>

<div class="container" style="margin-top: 100px; padding-left: 0px;padding-right: 0px; ">
    <div class="header">
        <h2 class="fw-bold">Checkout</h2>
    </div>
    <br>
    <div class="row ">
        <!-- Left Side - Cart Items -->
        
        <div class="col">
            <div class="card-body">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h4>Contact</h4>
                    
                    <div class="form-floating mb-3">
                        <input type="email" name="email" class="form-control" value="{{ userprofile.email }}" style="background-color: white;">
                        <label for="">Email Address</label>
                        <input type="checkbox" name="" id="" onclick=""> Email me with news and offers
                    </div>
                    
                    <h4>Delivery</h4>

                    <div class="form-floating mb-3">
                    <select class="form-select" id="country" name="country">
                        <option value="PH">Philippines</option>
                        {% for code, name  in countries %}
                            <option value="{{ code }}">{{ name }}</option>
                        {% endfor %}
                    </select>
                    <label for="country">Country/Region</label>
                    </div>

                    

                    <div class="form-floating mb-3">
                        <input type="text" name="firstName" class="form-control" value="{{ userprofile.firstName }}" id="firstname" placeholder="First Name" required>
                        <label for="">First Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="lastName" class="form-control" value="{{ userprofile.lastName }}" id="lastname" placeholder="Last Name" required>
                        <label for="">Last Name</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" name="address" class="form-control" id="address" placeholder="Address" required>
                        <label for="">Address</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" name="district" class="form-control" id="district" placeholder="District" required>
                        <label for="">Barangay, village, district, building, town, etc.</label>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input type="text" name="postalcode" class="form-control" id="postalcode" placeholder="Postal Code" required>
                                <label for="">Postal Code</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input type="text" name="city" class="form-control" id="city" placeholder="City" required>
                                <label for="">City</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                    <div class="form-floating mb-3">
                            <input type="text" name="province" class="form-control" id="province" placeholder="Province" required>
                            <label for="">Province</label>
                        </div>
                    </div>

                    {% comment %} <label class="">Phone Number</label> {% endcomment %}
                    <div class="form-floating mb-3">
                        <input type="tel" name="phone" class="form-control" value="{{ userprofile.phoneNumber }}" id="phone" required>
                        <label class="">Phone Number</label>
                        <div class="invalid-feedback">
                            Please enter a valid phone number.
                        </div>
                        <div class="valid-feedback">
                            Phone number looks good!
                        </div>
                    </div>
                    <input type="hidden" name="full_phone" id="full_phone">
                    <!--Save Address-->
                    <input type="checkbox" id="saveAddress" name="save_address" onclick=""> Save this information for next time
                    <br>
                    <br>
                    <h5>Delivery</h5>
                    <label for="">Enter your shipping address to view available shipping methods.</label>
                    <br>
                    <br>
                    <h4>Payment</h4>
                    <p>All transactions are secure and encrypted.</p>
                    
                    <div class="accordion accordion-flush border" id="accordionFlushExample">

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseOne">
                                    <input type="radio" name="payment_method" value="card" class="me-2">
                                    {% comment %} <i class="bi bi-circle me-2 accordion-icon text-primary"></i> {% endcomment %}
                                    Credit/Debit Cards
                                </button>
                            </h2>
                            <div id="flush-collapseOne"
                                class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="form-floating mb-3">
                                        <input type="text" name="cardnumber" class="form-control" id="cardnumber" placeholder="Card Number" required>
                                            <svg class="bi m-2 lock-icon" width="25" height="25">
                                                <use xlink:href="#lock"></use>
                                            </svg>
                                        <label for="">Card number</label>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-floating mb-3">
                                                <input type="text" name="expirydate" class="form-control" id="expirydate" placeholder="Expiry Date" required>
                                                <label for="">Expiration Date (MM/YY)</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-floating mb-3">
                                                <input type="text" name="securitycode" class="form-control" id="securitycode" placeholder="securitycode" required>
                                                <label for="">Security Code</label>
                                            </div>
                                        </div>

                                    </div>
                                    
                                    
                                    <div class="form-floating mb-3">
                                        <input type="text" name="cardname" class="form-control" id="cardname" placeholder="cardname" required>
                                        <label for="">Name of Card</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseTwo">
                                    
                                    <input type="radio" name="payment_method" value="cod" class="me-2">
                                    {% comment %} <i class="bi bi-circle me-2 accordion-icon text-primary"></i> {% endcomment %}
                                    Cash on Delivery (COD)
                                    </input>
                                    
                                </button>
                            </h2>
                            <div id="flush-collapseTwo"
                                class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>This payment option is exclusively available for customers residing in The Philippines. If you are situated outside of the Philippines, please select Credit/Debit Cards as your payment method or your order will be cancelled.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br>
                    
                    <br>

                    <!--Buttons Below-->
                    <button type="submit" class="btn btn-primary">
                        {% comment %} <svg class="bi m-2" width="18" height="18">
                        <use xlink:href="#save"><!--Save--></use>
                        </svg> {% endcomment %}
                        Place Order
                    </button>
                    <br>
                    <br>
                    {% comment %} <button type="button" class="btn btn-danger px-0 py-0" data-bs-toggle="modal" data-bs-target="#staticBackdrop-{{ headers.id }}" >
                            <svg class="bi m-2" width="16" height="16">
                            <use xlink:href="#delete"></use>
                            </svg>
                            <!--Delete-->
                    </button> {% endcomment %}
                        <!--Modal-->
                        {% if messages %}
                        <div class="modal fade" id="messageModal" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Message</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    {% for message in messages %}
                                    {% if message.tags == 'warning' %}
                                        <div class="modal-body" id="modalMessageBody">
                                            <svg class="bi m-2" width="24" height="24">
                                                <use xlink:href="#warning"></use>
                                            </svg> {{ message }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >
                                                Close
                                            </button>
                                        </div>
                                    {% else %}
                                        <div class="modal-body" id="modalMessageBody">
                                            <svg class="bi m-2" width="24" height="24">
                                                <use xlink:href="#success"></use>
                                            </svg> {{ message }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >
                                                Close
                                            </button>
                                            <a href="{% url "sign-in" %}" class="btn btn-success">Login</a>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                </form>
            </div>
        </div>

        
        <!-- Right Side  -->
        <div class="col">
            <div class="container">
                {% for cart in cart_items %}
                <div class="row">
                    <div class="col">
                        <div class="position-relative d-inline-block">
                            <img src="{{ cart.item.image.url }}" alt="" class="img-fluid" style="max-height: 75px;" />
                            <span class="position-absolute top-0 start-100 translate-middle badge bg-dark">
                            {{ cart.quantity }}
                            </span>
                        </div>
                    </div>
                    
                    <div class="col">
                        <div class="row">
                            <p style="font-size: 13px; margin-bottom: 0px;">{{ cart.item.itemName }}</p>
                        </div>
                        <div class="row">
                            <p style="font-size: 13px;">{{ cart.size }}</p>
                        </div>
                    </div>
                    <div class="col">
                        <p style="font-size: 13px;">₱{{ cart.total_price }}</p>
                    </div>
                </div>
                <br>
                {% endfor %}
                <br>
                <br>
                {% for msg in messages %}
                    {% if msg.tags == 'success' %}
                    <div class="alert alert-success alert-dismissible d-flex align-items-center fade show" role="alert">
                        <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:" width="20" height="20" >
                        <use xlink:href="#message-success" />
                        </svg>
                        <div>{{ msg }}</div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" ></button>
                    </div>
                    {% else %}
                    <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show" role="alert" >
                        <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:" width="20" height="20" >
                        <use xlink:href="#message-warning" />
                        </svg>
                        <div>{{ msg }}</div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" ></button>
                    </div>
                    {% endif %}
                {% endfor %}
                <form method="POST" action="{% url "manage-voucher" user.id %}" id="status_form">
                    {% csrf_token %}
                <div class="row">
                    
                        <div class="col-8">
                            <div class="form-floating ">
                                <input type="text" name="discountcode" class="form-control" id="discountcode" placeholder="Discount Code" required>
                                <label for="">Discount Code</label>
                            </div>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-secondary" style="margin-top: 12px;" onchange="this.form.submit()">
                                Apply
                            </button>
                        </div>
                    
                </div>
                </form>
                <br>
                <br>
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <th scope="row">Order value</th>
                            <td>₱{{ order_value }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Discount</th>
                            <td style="color: red;">- ₱{{ discount }}</td>
                        </tr>
                        {% if voucher_total_discount %}
                        <tr>
                            <th scope="row">Voucher</th>
                            <td style="color: red;">- ₱{{ voucher_total_discount }}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th scope="row">Estimated shipping fee</th>
                            <td style="color: red;">- ₱{{ shippingFee }}</td>
                        </tr>
                        <tr>
                            <th scope="row">TOTAL</th>
                            <td>₱{{ total }}</td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</div>

<script>

document.querySelectorAll('.accordion-collapse').forEach(collapse => {

    collapse.addEventListener('shown.bs.collapse', function () {
        const icon = this.previousElementSibling.querySelector('.accordion-icon');

        icon.classList.remove('bi-circle');
        icon.classList.add('bi-circle-fill');
    });

    collapse.addEventListener('hidden.bs.collapse', function () {
        const icon = this.previousElementSibling.querySelector('.accordion-icon');

        icon.classList.remove('bi-circle-fill');
        icon.classList.add('bi-circle');
    });

});


</script>




{% endblock %}

