{% extends "base.html" %} 
{% block title %}JN4D Interior Services{% endblock %}
{% block content %}
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
  rel="stylesheet"
/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;" >
  <symbol id="price" viewBox="0 0 16 16" fill="currentColor">
    <path d="M3 2v4.586l7 7L14.586 9l-7-7zM2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586z"/>
    <path d="M5.5 5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1m0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3M1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1z"/>    
  </symbol>
  <symbol id="cart" viewBox="0 0 16 16" fill="currentColor">
    <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l.5 2H5V5zM6 5v2h2V5zm3 0v2h2V5zm3 0v2h1.36l.5-2zm1.11 3H12v2h.61zM11 8H9v2h2zM8 8H6v2h2zM5 8H3.89l.5 2H5zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
  </symbol>
  <symbol id="favorite" viewBox="0 0 16 16" fill="currentColor">
    <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1"/>
  </symbol>
  <symbol id="sale" viewBox="0 0 16 16" fill="currentColor">
    <path d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5M11.5 4a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1z"/>
  <path d="M2.354.646a.5.5 0 0 0-.801.13l-.5 1A.5.5 0 0 0 1 2v13H.5a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1H15V2a.5.5 0 0 0-.053-.224l-.5-1a.5.5 0 0 0-.8-.13L13 1.293l-.646-.647a.5.5 0 0 0-.708 0L11 1.293l-.646-.647a.5.5 0 0 0-.708 0L9 1.293 8.354.646a.5.5 0 0 0-.708 0L7 1.293 6.354.646a.5.5 0 0 0-.708 0L5 1.293 4.354.646a.5.5 0 0 0-.708 0L3 1.293zm-.217 1.198.51.51a.5.5 0 0 0 .707 0L4 1.707l.646.647a.5.5 0 0 0 .708 0L6 1.707l.646.647a.5.5 0 0 0 .708 0L8 1.707l.646.647a.5.5 0 0 0 .708 0L10 1.707l.646.647a.5.5 0 0 0 .708 0L12 1.707l.646.647a.5.5 0 0 0 .708 0l.509-.51.137.274V15H2V2.118z"/>
  </symbol>
</svg>

<style>
    #placeholder-image {
        width: 250px;
    }
</style>


<div class="container" style="margin-top: 100px;">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "homepage" %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url "view-products" category.id %}">{{ category.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
        </ol>
    </nav>

    <div class="row">
        
        <div class="col-md-12">
            <h2 class="mb-4">{{ product.name }}</h2>
            <p>{{ product.description}}</p>
            {% for msg in messages %}
                <div class="alert alert-success alert-dismissible d-flex align-items-center fade show" role="alert" >
                    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:" width="20" height="20" >
                        <use xlink:href="#check-circle-fill" />
                    </svg>
                    <div>{{ msg }}</div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" ></button>
                </div>
            {% endfor %}
            <div class="row">
                {% if colorProducts %}
                    {% for item in colorProducts %}
                        <div class="col-md-3">
                            <div class="card mb-3">
                            
                                    <div class="card-body" >
                                        <a href="{% url "view-specifications" item.id %}" style="text-decoration: none; color: inherit; font-weight: normal;">
                                        <div class="category-image">
                                            <img src="{{ item.image.url }}" alt="Product image" class="w-100 mb-5" style="height: 350px;"/>
                                        </div>

                                        <h5 class="text-start" style="font-weight: bold;">{{ item.colorName }}</h5>
                                        {% comment %} <h5 class="text-start" style="font-size: 15px; font-weight: normal;">{{ item.description }}</h5> {% endcomment %}
                                        <h5 class="text-start" style="color: blue; font-weight: bold;">
                                            <svg class="bi m-2" width="18" height="18">
                                                <use xlink:href="#price"><!--Add--></use>
                                            </svg>
                                            &#x20B1;{{ item.selling_price |floatformat:2}}
                                        </h5>
                                        <h5 class="text-start" style="text-decoration: line-through; font-size: 15px;">
                                            <svg class="bi m-2" width="18" height="18">
                                                <use xlink:href="#price"><!--Add--></use>
                                            </svg>
                                            &#x20B1;{{ item.original_price |floatformat:2}}
                                        </h5>
                                        </a>
                                        {% comment %} <button type="button" class="btn">
                                            <svg class="bi m-1" width="20" height="20">
                                                <use xlink:href="#cart"></use>
                                            </svg>
                                        </button>
                                        <button type="button" class="btn">
                                            <svg class="bi m-1" width="20" height="20">
                                                <use xlink:href="#favorite"></use>
                                            </svg>
                                        </button> {% endcomment %}
                                    </div>
                                
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    {% for placeholder in placeholders %}
                        <div class="row">
                            <p>{{ placeholder.label }}</p>
                            <img src="{{ placeholder.image.url }}" alt="Image Here" class="" id="placeholder-image" width="150" height="250" />
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
