{% load static %}

<!DOCTYPE html>
<html lang="en" style="box-sizing: border-box; scroll-behavior: smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static '/homepage/styles.css' %}" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      {% if headers %} {% for header in headers %}
      <div class="container">
        <a class="navbar-brand" href="#"
          ><img src="{{ header.logo.url }}" alt="" width="200" height="50"
        /></a>
      </div>
      <nav>
        <a href="{% url "homepage" %}" class="btn text-white">View Website</a>
      </nav>
      <nav>
        <a href="#" class="btn text-white">Log in</a>
      </nav>
      {% endfor %} {% else %}
      <p>No Logo Uploaded</p>
      {% endif %}
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
