{% load static %}

<!DOCTYPE html>
<html lang="en" style="box-sizing: border-box; scroll-behavior: smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static '/homepage/styles.css' %}" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      {% for item in header_objects %}
      <div class="container">
        <a class="navbar-brand" href="#"
          ><img src="{{ item.logo.url }}" alt=""
        /></a>
      </div>
      <nav>
        <a href="#">Log in</a>
      </nav>
      {% endfor %}
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
