{% extends "admin_base.html" %} {% block title %}Edit Product Categories{%endblock %} {% block content %}
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
  rel="stylesheet"
/>
<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
  <symbol id="check-circle-fill" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
  </symbol>
  <symbol id="info-fill" viewBox="0 0 16 16">
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
  </symbol>
  <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
  </symbol>
  <symbol id="save" viewBox="0 0 16 16" fill="currentColor">
    <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0H3v5.5A1.5 1.5 0 0 0 4.5 7h7A1.5 1.5 0 0 0 13 5.5V0h.086a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5H14v-5.5A1.5 1.5 0 0 0 12.5 9h-9A1.5 1.5 0 0 0 2 10.5V16h-.5A1.5 1.5 0 0 1 0 14.5z"/>
  <path d="M3 16h10v-5.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5zm9-16H4v5.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5zM9 1h2v4H9z"/>
  </symbol>
  <symbol id="back" viewBox="0 0 16 16" fill="currentColor">
    <path d="M.5 3.5A.5.5 0 0 0 0 4v8a.5.5 0 0 0 1 0V8.753l6.267 3.636c.54.313 1.233-.066 1.233-.697v-2.94l6.267 3.636c.54.314 1.233-.065 1.233-.696V4.308c0-.63-.693-1.01-1.233-.696L8.5 7.248v-2.94c0-.63-.692-1.01-1.233-.696L1 7.248V4a.5.5 0 0 0-.5-.5"/>
  </symbol>
</svg>
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 mt-4">
        {% for msg in messages %}
        <div class="alert alert-success alert-dismissible d-flex align-items-center fade show" role="alert" >
          <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:" width="20" height="20" >
            <use xlink:href="#check-circle-fill" />
          </svg>
          <div>{{ msg }}</div>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" ></button>
        </div>
        {% endfor %}
        <div class="card">
          <div class="card-header">
            <h2 class="fw-bold">Edit Product Categories</h2>
          </div>
          <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="mb-3">
                {% if categories.image %}
                <img src="{{ categories.image.url }}" alt="Image Here" class="" width="200" height="50" />
                {% endif %}
                <label for="" class="form-label">Image</label>
                <input type="file" name="image" class="form-control" />
              </div>
              <div class="mb-3">
                <label for="" class="form-label">Name</label>
                <input type="text" name="name" value="{{ categories.name }}" class="form-control" />
              </div>
              <div class="mb-3">
                <label for="" class="form-label">Description</label>
                <input type="text" name="description" value="{{ categories.description }}" class="form-control" />
              </div>
              {% comment %} <button type="submit" class="btn btn-warning">Update</button> {% endcomment %}
              <button type="submit" class="btn btn-success px-0 py-0">
                <svg class="bi m-2" width="18" height="18">
                  <use xlink:href="#save"><!--Save--></use>
                </svg>
              </button>
              {% comment %} <a href="{% url "manage-categories" %}" class="btn btn-secondary">Back</a> {% endcomment %}
              <a href="{% url "manage-categories" %}" class="btn btn-secondary px-0 py-0">
                <svg class="bi m-2" width="18" height="18">
                  <use xlink:href="#back"><!--Back--></use>
                </svg>
              </a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
